
services:
  api:
    build: .
    container_name: generic_bot_api
    env_file: .env
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    container_name: generic_bot_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: generic_bot_redis
    ports:
      - "6380:6379"

volumes:
  pgdata:
